{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
  <p id="demo"></p>

  <script>
    var TD = window.location.href.split("/")
    var ID = TD[TD.length-2]
    document.getElementById("demo").innerHTML = "ID#:<br>" + ID;
  </script>

  <button onclick="goBack()">Go Back</button>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  
  <img id = "g1" src="" style="float: right; margin-left: 5px; margin-bottom: 5px;">

  <script>
    sample = "uploads/" + ID + "/g1.jpg";
    console.log (sample)
    document.getElementById("g1").setAttribute("src", '../' + sample);
  </script>

{% endblock %}