.app-header {
    height: 120px;
    line-height: 80px;
    border-bottom: thin lightgrey solid;
		color: black;
		background-color:  #e6e6e6;

}

.app-header .app-header--title {
    font-size: 80px;
}
